body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6afaf;
  }
  
  .contenedor {
    display: flex;
    align-items: center;
    width: 30%;
    height: 30%;
  }
  
  .flecha {
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  iframe {
    border: none;
    width: 80vw;
    height: 80vh;
  }
  